* {
    border: none;
    border-radius: 13px;
    font-family: FontAwesome, NotoSans Nerd Font, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
    margin: 0px 0px 0px 0px;
}

window#waybar {
    background:  rgba(42, 42, 43, 0.0); 
    border-radius: 0px;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: white;
    margin: 2px 0px 0px 0px;
}
/*-----module groups----*/
.modules-right {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px;
}
.modules-center {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.modules-left {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

tooltip {
  background: rgba(43, 48, 59, 1.0);
  border: 1px solid rgba(100, 114, 125, 1.0);
}
tooltip label {
  color: white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 5px;
}

#workspaces {
    background-color: transparent; 
    margin: 0 4px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#custom-rootMenu{
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    padding: 0 10px;
}

#taskbar{
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    /* border-width: 2px;
    border-color: white; */
    padding: 0 10px;
}
#taskbar.empty{
    background-color: transparent;
    border: none;
    padding: 0 0px;
}

#window{
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    padding: 0 10px;
}
window#waybar.empty #window {
    background-color: transparent;
    border: none;
    padding: 0 0px;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#cpu{
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    padding: 0 10px;
}

#memory{
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    padding: 0 10px;
}

#pulseaudio{
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    padding: 0 10px;
}

#power-profiles-daemon{
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    padding: 0 10px;
}

#clock {
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    padding: 0 10px;
}

#custom-clipboard{
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    padding: 0 10px;
}

#tray{
    background-color: rgba(67, 73, 87, 0.5);
    border: 2px solid #1E1F29;
    padding: 0 10px;
}